.aboutCard{
    background-color:white ;
    border-radius: 50px;
    padding: 30px;
height: 180px;
color: black;
width: 300px;
cursor: pointer;

}
.aboutCard_info{
    display: flex;
    gap: 15px;
}
.star{
    display: flex;
   
}
.stars_icon{
color: rgba(254, 199, 15, 1)

}