.header{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('../images/Rectangle\ 1.png');
    background-size: cover;
    color: #F05326;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.header_content{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap:15px;
    height: 401px;
    justify-content: center;
    align-items: center;
}
.header_content_title{
    display: flex;
    flex-direction: column;
    font-size: 42px;
    font-weight: bold;
}
.header_content_content{
    font-size: 20px;
    text-align: center;
}
.header_content_content span{
    width: 20px;
    color: black ;
    opacity: 0;
}
.header_content_title_btn{
    margin-top: 30px;
    width: 200px;
    height:55px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
color: #F05326;
background-color: white;
border-radius: 28px;
box-shadow: -2px 3px 2px  rgb(231, 97, 48,0.6);
font-size: 15px;
font-weight: bold;
}
.header_content_title_btn:hover{
    background-color: rgb(255, 255, 255,1);
}