.nav{
    color: #F05326;
    width: 100%;
    padding: 10px;
    display: flex;
justify-content: center;
    height: 70px;
 position: absolute;
    display: fixed;
    z-index:2 ;
   
}
.navpar{
    display: flex;
    flex-direction: row;
    width: 85%;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}
.logo img{
 width: 130px;

}
.menubar{
    display: flex;
    justify-content: center;
    justify-self: center;
    color: white;
    justify-content: space-between;
    gap: 20px;
}

.menubar_header{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 14px;
 
}
.menubar_header li , .menubar_reg div{
    width: 70px;
    height:40px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;


}
.active{
   background-color: #F05326;
    border-radius: 28px;
   text-align: center;

}
.menubar_header li:hover , .menubar_reg div:hover{
    background-color: #F05326;
    border-radius: 28px;
   text-align: center;
}
.menubar_reg{
    display: flex;
  gap: 10px;
  justify-content: center;
align-items: center;
font-size: 14px;
}
.menubar_reg div{
    border: 1px solid white;
    border-radius: 28px;
}
.header_content_content{
    color:white;
}