
.services{
    height: calc(100vh - (1/2 * 100vh)); 
    background-image: url('../images/11.png');
    background-size: cover;
 background-repeat: no-repeat;
 display: flex;
 flex-direction: column;
 gap: 30px;
 padding: 50px;
 padding-left: 150px;
 padding-bottom: 10px;
 padding-top: 150px;
 justify-content: center;
 position: relative;
 z-index: 1;



}
.services_title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;

}
.servicesCard{
    display: flex;
    width: 80%;
    justify-content: space-between;
  justify-self: center;
  align-self: center;
    gap: 20px;
    position: relative;
    top: -50px;
    z-index: 1;
    

}
